/*Author: Sumit Kumar B00904097*/

.fill-space {
    flex: 1 1 auto;
}

.profile-menu {
    margin-top: 38px;
}

.mat-toolbar-row a.mat-button:hover {
    background-color: #3f51b5;
    color: #fff;
}

mat-icon {
    margin-right: 5px;
}