<!-- Author: Sumit Kumar B00904097 -->
<main style="position: relative;padding-bottom: 150px;">
  <app-header></app-header>
  <mat-tab-group style="margin: 5%;">
    <mat-tab label="Update profile">
      <app-update-profile></app-update-profile>
    </mat-tab>
    <mat-tab label="Membership">
      <app-membership></app-membership>
    </mat-tab>
    <mat-tab label="Booking History">
      <app-booking-history></app-booking-history>
    </mat-tab>
    <mat-tab label="Invoices">
      <app-invoices></app-invoices>
    </mat-tab>
    <mat-tab label="Payment methods">
      <app-payment-methods></app-payment-methods>
    </mat-tab>
  </mat-tab-group>
  <app-footer></app-footer>
</main>