<!-- Author:Falgun Jairaj Thakwani B00932083 -->
<div class="cart-main">


  <h1>CART TOTALS</h1>
<hr>
<br>
<div class="cartSummaryLeft" style="width: 80%; float:left">
  <div>
    <p>Subtotal </p>
    <p>Tax</p>
    <p>Discount</p>
    <br>
    <hr>
    <br>
    <h2>Total</h2>
  </div>
</div>

<div class="cartSummaryRight" style="width: 20%; float:right">
  <p>$0.0</p>
  <p>$0.0</p>
  <p>$0.0</p>
  <br>
  <hr>
  <br>
  <h2>$0.0</h2>
</div>

<!-- <mat-list>
  <mat-list-item>
    <div>
      <h4>Sub Total</h4>
      <p>$0</p>
    </div>

  </mat-list-item>
  <mat-list-item>
    <h4>Tax</h4>
    <p>$0</p>
  </mat-list-item>
  <mat-list-item>
    <h4>Discount</h4>
    <p>$0</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <h2>Total</h2>
    <h2>$0</h2>
  </mat-list-item>
</mat-list> -->
<div class="buttons">
  <button mat-raised-button color="primary" routerLink="/payment-page">CHECKOUT</button>
</div>
<br>
<br>
<div class="link">
  <a routerLink="/categories">CONTINUE BOOKING</a>
</div>

</div>


