<!-- Author: Sumit Kumar B00904097 -->
<app-header></app-header>
<h1 style="text-align: center; margin-top: 50px">About Us</h1>
<div class="container" class="full-width center-content">
  <mat-card>
    <mat-card-content>
      <p>
        DalSports is a student-run organization at Dalhousie University that
        provides opportunities for students to participate in a variety of
        sports and recreational activities.
      </p>
      <p>
        Our mission is to promote a healthy and active lifestyle among students
        by providing access to affordable and inclusive sports programs.
      </p>
      <p>
        We offer a range of programs and events throughout the year, including
        intramural leagues, drop-in sessions, and tournaments. We also work
        closely with other student groups and organizations to promote physical
        activity and wellness on campus.
      </p>
      <p>
        If you have any questions or feedback, please don't hesitate to contact
        us.
      </p>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
