/*Author: Falgun Jairaj Thakwani B009302083*/
.container{
display: flex;
margin-top: 2%;
margin-bottom: 2%;
max-height: 500px;
overflow-y: auto;
justify-content: space-between;
}
table {
  width: 100%;
  padding: 10%;
}
th{
  font-weight: bold;
  color: black;
}
.mat-cell {
  padding: 15px;
  font-size: medium;
}

.cartTable{
  flex:2;
}

.cartTotal{
  width: 25%;
  margin-top:0.65%;
  margin-left: 2%;
}

.vertical-divider{
margin-top: 1%;
margin-bottom: 1%;
margin-left: 2%;

}
mat-divider{
  border: 0px solid rgb(212, 211, 211);
}

.cart-main{
  display: flex;
  justify-content: space-evenly;
}
.empty{
  height: 500px;
  display: flex;
  align-items: center;
  width: 100%;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.horizontal-divider {
  border: 1px solid rgb(200, 199, 199);
  margin-bottom: 15px;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: center;
}

.link{
  display: flex;
  justify-content: center;

}

.continueBooking{
  color:blue
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
}
.mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


