<!-- Author: Sumit Kumar B00904097 -->
<mat-sidenav-container class="footer">
  <br />
  <table>
    <tr>
      <td><mat-icon>school</mat-icon> <span class="link-text">Dalhousie University</span></td>
      <td>
        <a
          class="a"
          href="https://athletics.dal.ca/about-us/dalplex_contact_us.html"
          ><mat-icon>contact_mail</mat-icon> <span class="link-text">Contact us</span></a
        >
      </td>
    </tr>
    <tr>
      <td><mat-icon>fitness_center</mat-icon> <span class="link-text">Department of Athletics & Recreation</span></td>
      <td>
        <a
          class="jobs"
          href="https://athletics.dal.ca/about-us/job_opportunities.html"
          ><mat-icon>work</mat-icon> <span class="link-text">Job Opportunities</span></a
        >
      </td>
    </tr>
    <tr>
      <td><mat-icon>location_on</mat-icon> <span class="link-text">Halifax, Nova Scotia, Canada</span></td>
      <td>
        <a class="directory" href="http://directory.dal.ca/"
          ><mat-icon>search</mat-icon> <span class="link-text">Campus Directory</span></a
        >
      </td>
    </tr>
    <tr>
      <td><mat-icon>phone</mat-icon> <span class="link-text">1.902.494.3372</span></td>
      <td>
        <a class="jobs" href="https://www.dal.ca/privacy_statement.html"
          ><mat-icon>privacy_tip</mat-icon> <span class="link-text">Privacy Statement</span></a
        >
      </td>
    </tr>
  </table>
</mat-sidenav-container>
